*,html{

    margin: 0;
    padding: 0;


}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    color: white;
}

.card{

       width: 400px;
       height:500px;
       background-color: rosybrown;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        

}

